
.genres {
    max-width: 1700px;
    margin: auto;
    margin-top: 11vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.genres > img {
    margin: 5px;
    cursor: pointer;
}

.genres > img:hover {
    border:1px solid yellow;
    border-radius: 10px;
}

@media (max-width: 450px) {

    .genres > img {
        width: 280px;
    }
}