
<section class="genres">
    <img src="{{assetsPath}}assets/img/rock.png" alt="rock" (click)="goToAlbums('rock')">
    <img src="{{assetsPath}}assets/img/electro.png" alt="electro" (click)="goToAlbums('electro')">
    <img src="{{assetsPath}}assets/img/hiphop.png" alt="hiphop" (click)="goToAlbums('hiphop')" >
    <img src="{{assetsPath}}assets/img/pop.png" alt="pop"(click)="goToAlbums('pop')">
    <img src="{{assetsPath}}assets/img/randb.png" alt="randb"(click)="goToAlbums('randb')">
    <img src="{{assetsPath}}assets/img/indie.png" alt="indie"(click)="goToAlbums('indie')">
</section>
<p class="portfolio">Portfolio of front-end developer Holub Roman (Angular10 with <a href="https://www.last.fm/api" target="_blank">Last.fmApi</a> )</p>
