
<!-- <a routerLink="albums">albums</a> -->

<section class="genres">
    <img src="../../../assets/img/rock.png" alt="rock" (click)="goToAlbums('rock')">
    <img src="../../../assets/img/electro.png" alt="electro" (click)="goToAlbums('electro')">
    <img src="../../../assets/img/hiphop.png" alt="hiphop" (click)="goToAlbums('hiphop')" >
    <img src="../../../assets/img/pop.png" alt="pop"(click)="goToAlbums('pop')">
    <img src="../../../assets/img/randb.png" alt="randb"(click)="goToAlbums('randb')">
    <img src="../../../assets/img/indie.png" alt="indie"(click)="goToAlbums('indie')">
</section>
